/* Seção de posts featured na home ====================*/
.home-posts-featured {
   margin:60px auto;
   height:600px;
   background:#111;
}

/* Seção de posts populares na home ====================*/
.home-posts-popular {
   margin:30px auto;
   //Article default
   article {      
      h2 {
         color:$black;
         font-weight:900;
         @include transition;
         &:hover {
            cursor:pointer;
         }
      }
      p {
         color:$gray;
      }
      figure {
         overflow:hidden;  
         background:$main-color;
         position:relative;
         z-index:2;
         img {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            max-width:100%;
            height:auto;
            @include transition;
            z-index:1;
            &:hover {
               cursor:pointer;
            }
         }
      }
      &:hover {
         h2 {
            color:$main-color;
         }
         figure {
            opacity:.9;
            img {
               transform:scale(1.1);
            }
         }         
      }
   }
   //Article pequeno
   .small-article {     
      h2 {
         font-size:18px;
         line-height:20px;
      }
      figure {
         width:100px;
         height:100px;    
         img {
            height:100%;
         }            
      }
   }
   //Article grande
   .big-article {
      h2, p {
         padding:0 40px;
      }
      h2 {
         font-size:21px;
         line-height:24px;
      }
      figure {
         width:100%;
         height:160px;
         overflow:hidden;         
      }
   }
}