/* VARIÁVEIS DE CORES ====================*/
$main-color: #FF0000;
$second-color: #CCC;

$black: rgba(0,0,0,.85);
$gray: rgba(0,0,0,.55);


/* MIXINS ====================*/
@mixin transition {
	transition:.5s;
}



/*
Utiliza o keyframe svg-animate
Anima em 4s cada path
forwards faz com que a animação termine e matenha o estado final dela (ou seja, o objeto totalmen preenchido)
remova o infinite para a animação acontecer apenas uma vez */
svg.animate path {
	animation: svg-animate 4s forwards infinite;
}

/* Função principal da animação, levar o dashoffset até 0. Nesse caso ele vai do dashoffset que foi definido com jQuery até 0. Por isso o from está vazio. */
@keyframes svg-animate {
	from {}
	to {
		 stroke-dashoffset: 0;
	}
}